// :root {
//   --numDays: 5;
//   --numHours: 10;
//   --timeHeight: 60px;
//   --calBgColor: #fff1f8;
//   --eventBorderColor: #f2d3d8;
//   --eventColor1: #ffd6d1;
//   --eventColor2: #fafaa3;
//   --eventColor3: #e2f8ff;
//   --eventColor4: #d1ffe6;
// } 

.calendar {
  display: grid;
  gap: 10px;
  grid-template-columns: auto 1fr;
  margin: 2rem;
}

.timeline {
  display: grid;
  grid-template-rows: repeat(var(--numHours), var(--timeHeight));
}

.days {
  display: grid;
  grid-column: 2;
  gap: 5px;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
}

.events {
  display: grid;
  grid-template-rows: repeat(var(--numHours), var(--timeHeight));
  border-radius: 5px;
  background: var(--calBgColor);

}

/* // Place on Timeline */






/* // Event */

.title {
  font-weight: 600;
  margin-bottom: 0.25rem;
}

.event {
  border: 1px solid var(--eventBorderColor);
  border-radius: 5px;
  padding: 0.5rem;
  margin: 0 0.5rem;
  background: white;

  &__corpFi {
    background: var(--eventColor1);
  }
  
  &__entLaw {
    background: var(--eventColor2);
  }
  
  &__writing {
    background: var(--eventColor3);
  }
  
  &__securities {
    background: var(--eventColor4);
  }


  &__start10 {
    grid-row-start: 2;
  }

  &__start12 {
    grid-row-start: 4;
  }

  &__start1 {
    grid-row-start: 5;
  }
  
  &__start2 {
    grid-row-start: 6;
  }
  
  &__end12 {
    grid-row-end: 4;
  }
  
  &__end1 {
    grid-row-end: 5;
  }
  
  &__end3 {
    grid-row-end: 7;
  }
  
  &__end4 {
    grid-row-end: 8;
  }
  
  &__end5 {
    grid-row-end: 9;
  }
}

.space,
.date {
  height: 60px
}

/* // Global / Etc */

/* body {
  font-family: system-ui, sans-serif;
} */



.date {
  /* display: flex; */
  gap: 3em;
}

.dateNum {
  font-size: 3rem;
  font-weight: 600;
  display: inline;
}

.dateDay {
  display: inline;
  font-size: 3rem;
  font-weight: 100;
}